autostart/*
baloofileinformationrc
cachyos/*
cachyos-hello.json
cava/shaders/*
cava/config/*
dconf/*
gwenviewrc
hypr-backup*
kitty/kitty-themes/*
Kvantum/catpuccin*
micro
mozilla
nwg-displays
pavucontrol.ini
pigchat
privateinternetaccess
pulse
qalculate
qt5ct
qt6ct/qss
qt6ct/*.conf
QtProject.conf
quickshell
rofi/*.rasi
session
swappy
systemd
trashrc

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
