autostart/*
baloofileinformationrc
btop/themes
cachyos/*
cachyos-hello.json
cava/*
!cava/.gitkeep
dconf/*
ghostty
gwenviewrc
hypr-backup*
kitty/kitty-themes/*.conf
!kitty/kitty-themes
Kvantum
micro
mozilla
nwg-displays
pavucontrol.ini
pigchat
privateinternetaccess
pulse
qalculate
qt5ct
qt6ct/qss
QtProject.conf
quickshell
rofi/*.rasi
session
swappy
systemd
trashrc

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
