autostart/*
baloofileinformationrc
btop/themes/*
!btop/themes/.gitkeep
cachyos/*
cachyos-hello.json
cava/*
!cava/config
dconf/*
ghostty
gwenviewrc
hypr-backup*
hypr/wallpaper_effects/*
hypr/wallust/*.conf
kitty/kitty-themes/*.conf
Kvantum/*
micro
mozilla
nwg-displays
pavucontrol.ini
pcmanfm-qt
pigchat
privateinternetaccess
pulse
qalculate
qt5ct
qt6ct/colors/*.conf
QtProject.conf
quickshell
rofi/.current_wallpaper
rofi/wallust/*.rasi
session
swappy
swaync/wallust/*.css
systemd
trashrc
waybar/wallust/*.css
wlogout/style.css
wlogout/assets
yad/*.css

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
